/* variable css */
:root {
    --black: #141414;
    --dark-grey: #474747;
    --white: #ffffff;
    --yellow: #ffc84c;
    --cream: #fdf4d7;
    --lavender: #e3dff9;
    --cyan: #95fff7;
    --off-pink:#f0d0d0;
    --off-green: #c9fdb5;
    --violet: #ddd7ff;
    --orange: #ffb26b;
}
